@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+SK:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins, Arial;
    background-color: #fff;
    margin: 0;
}
.successfull-booking,
.accepted-booking
{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    background-color: #48d483;
    color: #fff;
    padding: 2px 15px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1001;
    width: 400px;
    text-align: center;
}
.cancel-booking,
.decline-booking
{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    background-color: #db3d3d;
    color: #fff;
    padding: 2px 15px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1001;
    width: 400px;
    text-align: center;
}

.invalid-password{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    background-color: #db3d3d;
    color: #fff;
    padding: 2px 15px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1001;
    width: 400px;
    text-align: center;
}
.successfull-booking.hide,
.cancel-booking.hide,
.invalid-password.hide,
.decline-booking.hide,
.accepted-booking.hide
{
    display: none;
}